<% var title = "Contact Us"; %>
<% include ./partials/head-nav.ejs %>

<h3 class="center-align">Contact Us</h3>
<div class="row">
  <form action="/contact" method="POST" class="col s12 m8 l6 offset-m2 offset-l3">
    <div class="row">
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">account_circle</i>
        <input name="first_name" id="first_name" type="text" class="validate" required>
        <label for="first_name">First Name</label>
      </div>
      <div class="input-field col s12 m6">
        <input name="last_name" id="last_name" type="text" class="validate" required>
        <label for="last_name">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">email</i>
        <input name="email" id="email" type="email" class="validate" required>
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">comment</i>
        <textarea name="message" id="message" class="materialize-textarea" required></textarea>
        <label for="message">Message</label>
      </div>
    </div>
    <div class="center-align">
      <button class="btn waves-effect waves-light cyan darken-1" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </form>
  </form>
</div>

<% include ./partials/scripts.ejs %>
