<% var title = "Thank You!"; %>
<% include ./partials/head-nav.ejs %>

<h3 class="center-align" style="color: #424242">Thank you!</h3>
<h5 class="center-align" style="color: #424242">We'll get back to you prompty.</h5>
<div class="container center">
  <i style="color: #424242; font-size: 200px" class="material-icons hide-on-small-only">done</i>
  <i style="color: #424242; font-size: 150px" class="material-icons hide-on-med-and-up">done</i>
  <div style="margin-top: 30px">
    <a href="/"><button class="btn cyan darken-1">Back to home</button></a>
    <a href="/messages"><button class="btn red darken-1">See messages(dev-only)</button></a>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
<script>$(".button-collapse").sideNav();</script>
