<head>
  <meta charset="utf-8">
  <title>Course Catalog</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/materialize.min.css" title="materialize" charset="utf-8">
  <link rel="stylesheet" href="../css/main.css" title="main" charset="utf-8">
</head>

<nav>
  <div class="nav-wrapper">
    <a style="padding-left: 10px" href="/" id="brand" class="brand-logo"><i class="material-icons">restaurant</i>Dev<span class="thin">ilicious</span> Academy</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/courses">Courses</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="/">Home</a></li>
      <li><a href="/courses">Courses</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
</nav>

<h3 class="center-align">Contact Us</h3>
<div class="row">
  <form class="col s12 m8 l6 offset-m2 offset-l3">
    <div class="row">
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">account_circle</i>
        <input id="first_name" type="text" class="validate">
        <label for="first_name">First Name</label>
      </div>
      <div class="input-field col s12 m6">
        <input id="last_name" type="text" class="validate">
        <label for="last_name">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">email</i>
        <input id="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">comment</i>
        <textarea id="message" class="materialize-textarea"></textarea>
        <label for="message">Message</label>
      </div>
    </div>
    <div class="center-align">
      <button class="btn waves-effect waves-light cyan darken-1" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </form>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
<script>$(".button-collapse").sideNav();</script>
