<head>
  <meta charset="utf-8">
  <title>Course Catalog</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/materialize.min.css" title="materialize" charset="utf-8">
  <link rel="stylesheet" href="../css/main.css" title="main" charset="utf-8">
</head>

<nav>
  <div class="nav-wrapper">
    <a style="padding-left: 10px" href="/" id="brand" class="brand-logo"><i class="material-icons">restaurant</i>Dev<span class="thin">ilicious</span> Academy</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/courses">Courses</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="/">Home</a></li>
      <li><a href="/courses">Courses</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
</nav>

<div class="container" style="margin-top: 25px">
  <div class="center">
    <img style="max-width: 200px" src="../img/<%= course.id %>.png">
  </div>
  <h4 id="heading" class="center"><%= course.name %></h4>
  <div class="container">
    <h5 class="right-align thin"><small>Instructor:</small> <%= course.course_instructor %> </h5>
    <p class="flow-text"><%= course.description %></p>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
<script src="js/main.js"></script>
<script>$(".button-collapse").sideNav();</script>
